{% load static %}

<!DOCTYPE html>

<html>

<head>

    <h1 style="border: 2px solid Tomato;"><b>KPOP</b></h1>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <br>
    <br>
    <img src="{% static 'image/BTS.jpg' %}"   alt="Bangtan Sonyeodan"  width="500" height="600">
    <hr>

<body style="background-color:plum;">
    <abbr title="Bangtan sonyeodan">BTS</abbr>

    <ul>
        <dt><h1 style="font-size: xx-small;"></h1> Korean BoyBand</h1></dt>

            <dd><p>Young boys from different parts of South Korea was identified by small agency name big hit.<br> They were trained by them to become KPOP idols.<br>Now those young boys are the biggest boy band in the world "BTs"- Bulletproof Boyscout Their fandom is named as "AMRY"- Adorable Representative MC of Youth<br> They are first korean boy band to win the billbord twice and to be nominated in Grammy.<br>BTS is the one of the most important reason for economic growth South Korea.</p></dd>
    </ul>
    <hr>

    <h2 style="color: orange;"> Fandom</h2>
    <mark>Amry</mark>
    <del>army</del>
    <h6> </h6><sub>Bts</sub>ARMY</h6>
    <sup> Amry </sup>
    <bdo dir="rtl"> army </bdo>
</body>
    <hr>

    <p style="color:red;">Members of bts.</p>


    {% for i in results%}

    {{ i.Name}}<br>

    {%endfor%}

    <meta charset="UTF-8">
    <pre>
       <p style="font-size: 0fr;"> <i>you are the cause of my euphoria </i> &#128512; &#128151;</p>

    </pre>    
    <hr>

    <h2>Fan chant</h2>
    <p style="text-align: center;"> <strong>"!!kim Namjoon!!" <br> !!!jimin!!! <br> !!!jun junkook!!! <br> !!!kim taehyung!!! <br> !!!kim seokjin!!! <br> min yoongi <br> !!!jung hoseok!!! </strong> </p>


    <hr>
    <!--List-->
    <head>ALBUM</head>
    <ul>
        <li>Wings</li>
        <li>Love yourself</li>
        <li>7</li>
        <li>Speak yourself</li>


    </ul>

    <h2><b> BTS AND BT21 CHARS</b> </h2>


     <!--table-->
    <head>
        <style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }
      
      td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
      }
      
      tr:nth-child(even) {
        background-color: #dddddd;
      }
      </style>
      </head>
<table>
        <tr>
            <th>BTS</th>
            <th>BT21</th>
        </tr>

        <tr>
            <td>RJ</td>
            <td>Jin</td>
        </tr>

        <tr>
            <td>tata</td>
            <td>v</td>
        </tr>
        <tr>
            <td>koya</td>
            <td>Rm</td>
        </tr>
        <tr>
            <td>Chimmy</td>
            <td>jimin</td>
        </tr>
        <tr>
            <td>kookie</td>
            <td>jk</td>
        </tr>
        <tr>
            <td>shookie</td>
            <td>suga</td>
        </tr>
    </table> </p>

    <hr>
    <hr>
    <hr>

    <style>

        .song{

            background-color:darkviolet;
        }


    </style>



    <div class="song">

        <h1> <b> Songs of BTS </b></h1>

        <ul></ul>

       <ol> i can make you better ---</ol> Home <br>
       <ol> Pls give me remedy -- </ol> jamisvu <br>
       <ol> You got me, I got you --- </ol> mikrocosmos <br>
        <ol>Light on me </ol>Truth Untold <br>
        
    </div>

    


    <hr>

    <button onclick="like"> </button>


<hr>

    <address>
        hybe entertainment
        Seoul
        South Korea.
        contact : 88888888
        <a href="mailto:bts@bighit.com">to send purple heart </a>
    </address>






























    




    <a href="https://www.weverse.io/">weverse</a>
</body>

</head>

</html>