{% load static %}

<!DOCTYPE html>

<html>

<head>

    <h1 style="border: 2px solid Tomato;">KPOP</h1>
    <abbr title="Bangtan sonyeodan">BTS</abbr>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <br>
    <br>
    <img src="{% static 'images/BTS.jpg' %}"   alt="Bangtan Sonyeodan"  width="500" height="600">

<body style="background-color:plum;">

    <p title="bts"><q>Bulletproof Boyscout</q> The biggest boyband in the world</p>

    <h1 style="font-size: xx-small;"></h1> Korean BoyBand</h1>
    <hr>

    <h2 style="color: orange;"> Fandom</h2>
    <mark>Amry</mark>
    <del>army</del>
    <h6> </h6><sub>Bts</sub>ARMY</h6>
    <sup> Amry </sup>
    <bdo dir="rtl"> army </bdo>
</body>
    <hr>

    <pre>
       <p style="font-size: 0fr;"> <i>you are the cause of my euphoria </i> </p>

    </pre>

    <p style="background-color:rgb(240, 102, 102);"><b> rm jin suga jhope jimn v jk </b> </p> 
    
    <hr>

    <h2>Fan chant</h2>
    <p style="text-align: center;"> <strong>"!!kim Namjoon!!" <br> !!!jimin!!! <br> !!!jun junkook!!! <br> !!!kim taehyung!!! <br> !!!kim seokjin!!! <br> min yoongi <br> !!!jung hoseok!!! </strong> </p>


    <hr>

    <h2></h2> <b> BTS AND BT21 CHARS</b> </h2>

    <hr>
    <!--List-->
    <head>Songs</head>
    <ul>
        <li>FL</li>
        <li>BWL</li>
        <li>Idlo</li>
        <li>Dynamite</li>


    </ul>

     <!--table-->
    <head>
        <style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }
      
      td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
      }
      
      tr:nth-child(even) {
        background-color: #dddddd;
      }
      </style>
      </head>
<table>
        <tr>
            <th>BTS</th>
            <th>BT21</th>
        </tr>

        <tr>
            <td>RJ</td>
            <td>Jin</td>
        </tr>

        <tr>
            <td>tata</td>
            <td>v</td>
        </tr>
        <tr>
            <td>koya</td>
            <td>Rm</td>
        </tr>
        <tr>
            <td>Chimmy</td>
            <td>jimin</td>
        </tr>
        <tr>
            <td>kookie</td>
            <td>jk</td>
        </tr>
        <tr>
            <td>shookie</td>
            <td>suga</td>
        </tr>
    </table> </p>

    <hr>
    <hr>
    <p style="color:red;">Members of bts.</p>
    {% for i in results%}

    {{ i.Name}}<br>

    {%endfor%}


    <hr>

    <button onclick="like"> </button>




    <address>
        hybe entertainment
        Seoul
        South Korea.
        contact : 88888888
        <a href="mailto:bts@bighit.com">to send purple heart </a>
    </address>






























    




    <a href="https://www.weverse.io/">weverse</a>
</body>

</head>

</html>