{% load static %}
<!DOCTYPE html>
<html>
  <body style="background-color:plum;">

    <div>
      <form method="POST" action="{% url 'fa1' %}">
        {% csrf_token %}
        {{ form }}
        Name: <input type="text" name="name" id="Name"><br><br>
        Bias: <input type="text" name="bias"><br><br>
        Age: <input type="number" name="age"> <br><br>
        Country: <input type="text" name="country"> <br><br>
        <input type="submit" name="submit">
      </form>
    </div>
    <p><i>WE Purple you ARMY!!!!</i> &#128151 &#128151 &#128151 </p>



    <img src="{% static 'image/bts.jpg' %}" alt="BTS"  width="500" height="600" align="right">

    {% for i in results2 %}
      <ul>
        <li>
          {{ i.Name }}
          {{ i.Bias }}
          {{ i.Age}}
          {{ i.Country }}
        </li>
      </ul>
    {% endfor %}

</body>






</html>